## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv").drop(columns="Unnamed: 0")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Busselton,AU,-33.65,115.33,58.84,82,40,19.13,light rain
1,Quatre Cocos,MU,-20.21,57.76,70.09,77,10,16.37,light rain
2,Edd,ER,13.93,41.69,92.19,57,100,4.16,overcast clouds
3,Namibe,AO,-15.20,12.15,62.42,88,10,3.22,clear sky
4,Washington,US,47.50,-120.50,85.57,29,0,9.64,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter a minimum temperature: "))
max_temp = float(input("Enter a maximum temperature: "))

Enter a minimum temperature: 75
Enter a maximum temperature: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp),:]
filtered_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,Washington,US,47.50,-120.50,85.57,29,0,9.64,clear sky
9,Marinette,US,45.10,-87.63,89.65,40,20,6.91,few clouds
15,Jamestown,US,42.10,-79.24,87.06,51,20,13.80,few clouds
17,Youkounkoun,GN,12.53,-13.13,75.02,95,100,3.87,moderate rain
19,San Nicolas,PH,18.17,120.60,80.71,83,2,3.09,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City                   251
Country                251
Lat                    251
Lng                    251
Max Temp               251
Humidity               251
Cloudiness             251
Wind Speed             251
Current Description    251
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df.count()

City                   251
Country                251
Lat                    251
Lng                    251
Max Temp               251
Humidity               251
Cloudiness             251
Wind Speed             251
Current Description    251
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Washington,US,85.57,clear sky,47.50,-120.50,
9,Marinette,US,89.65,few clouds,45.10,-87.63,
15,Jamestown,US,87.06,few clouds,42.10,-79.24,
17,Youkounkoun,GN,75.02,moderate rain,12.53,-13.13,
19,San Nicolas,PH,80.71,clear sky,18.17,120.60,
27,Ribeira Grande,PT,77.40,light intensity shower rain,38.52,-28.70,
29,Suruc,TR,84.18,clear sky,36.98,38.42,
42,Kavaratti,IN,81.16,overcast clouds,10.57,72.64,
45,San Cristobal,VE,80.78,broken clouds,7.77,-72.22,
48,Thinadhoo,MV,80.98,overcast clouds,0.53,72.93,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    response = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,'Hotel Name'] = response['results'][0]['name']
    except IndexError:
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Washington,US,85.57,clear sky,47.50,-120.50,Sky Meadows Bed & Breakfast
9,Marinette,US,89.65,few clouds,45.10,-87.63,AmericInn by Wyndham Menominee
15,Jamestown,US,87.06,few clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
17,Youkounkoun,GN,75.02,moderate rain,12.53,-13.13,
19,San Nicolas,PH,80.71,clear sky,18.17,120.60,NORTHVIEW Hotel
27,Ribeira Grande,PT,77.40,light intensity shower rain,38.52,-28.70,Quinta da Meia Eira
29,Suruc,TR,84.18,clear sky,36.98,38.42,Suruç belediye taziye evi
42,Kavaratti,IN,81.16,overcast clouds,10.57,72.64,Dharul Hudha
45,San Cristobal,VE,80.78,broken clouds,7.77,-72.22,Pirineos
48,Thinadhoo,MV,80.98,overcast clouds,0.53,72.93,

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index, inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Washington,US,85.57,clear sky,47.50,-120.50,Sky Meadows Bed & Breakfast
9,Marinette,US,89.65,few clouds,45.10,-87.63,AmericInn by Wyndham Menominee
15,Jamestown,US,87.06,few clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
19,San Nicolas,PH,80.71,clear sky,18.17,120.60,NORTHVIEW Hotel
27,Ribeira Grande,PT,77.40,light intensity shower rain,38.52,-28.70,Quinta da Meia Eira
29,Suruc,TR,84.18,clear sky,36.98,38.42,Suruç belediye taziye evi
42,Kavaratti,IN,81.16,overcast clouds,10.57,72.64,Dharul Hudha
45,San Cristobal,VE,80.78,broken clouds,7.77,-72.22,Pirineos
50,Trairi,BR,80.55,overcast clouds,-3.28,-39.27,janelas do mar
53,Ilheus,BR,78.62,scattered clouds,-14.79,-39.05,Barravento Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country<dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))